/*
    Namespacing strategy:
        tda-* : applies to To Do App (TDA stands for To Do App). Used to distinguish from third-party or official CSS.
        tda-site-* : applies to the entire site
*/

.tda-site-header {
    background-image: linear-gradient(to right, lightblue, orange);
    padding: 1rem;
}

.tda-site-navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.tda-site-main {
    min-height: 50vh;
    margin-left: 1rem;
}

.tda-site-footer {
    background-image: linear-gradient(to right, lightblue, orange);
    padding: 1rem;
}

.tda-form-fields {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 1em;
}

.tda-error {
    color: red;
}